//Breakpoints
@mixin breakpoint($class) {
  @if $class==sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $class==xs {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $class==md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class==lg {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $class==xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $class==xxl {
    @media (max-width: 1600px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg, xxl";
  }
}

//imports
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// FONTS
$raleway: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;

//Colors
$purple: #3c1874;
$white: #ffffff;
$dark-red: #932432;
$gray: #283747;
$pink-red: #de354c;
$black: #000000;

%shadow {
  -webkit-box-shadow: 0px 5px 10px -1px #000000;
  box-shadow: 0px 5px 10px -1px #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//reset all browser styles
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
rem,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
rembed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  max-width: 100%;
  scroll-behavior: smooth;
  font-size: 25px;
  overflow-x: hidden;

  @include breakpoint(xxl) {
    font-size: 23px;
  }
  @include breakpoint(lg) {
    font-size: 20px;
  }
  @include breakpoint(md) {
    font-size: 18px;
  }
  body {
    overflow-x: hidden;
    max-width: 100%;
    height: auto;
    background: $white;
  }

  // FONT SIZES
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: $raleway;
  }
  a {
    font-weight: 600;
    font-family: $raleway;
    color: $white;
    text-decoration: none;
  }
  p,
  span {
    font-weight: 400;
    font-family: $roboto;
  }
  h1 {
    font-size: 4.125rem;
  }
  h2 {
    font-size: 2.826086956521739rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2.1875rem;
  }
  h5 {
    font-size: 1.52rem;
  }
  h6 {
    font-size: 1.3rem;
  }
  p,
  a {
    font-size: 1.1rem;
    text-decoration: none;
  }
  li {
    font-size: 1.5625rem;
  }
  p {
    line-height: 1.25;
  }
  //Globals
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    max-width: 93%;
    width: 1550px;
    margin: 0 auto;
  }

  .one-column-side-icons {
    padding-top: 75px;
    padding-bottom: 50px;
    position: relative;
    height: 700px;

    .purple-circle {
      position: absolute;
      width: 510px;
      height: 510px;
      background-color: $purple;
      border-radius: 50%;
      left: -265px;
    }
    .paint-brush {
      position: absolute;
      left: 75px;
      top: 250px;
    }
    .red-block {
      position: absolute;
      background-color: $dark-red;
      width: 50px;
      height: 250px;
      right: 0;
    }
    .text-wrapper {
      margin: 0 auto;
      width: 60%;
      z-index: 99;
      h2 {
        text-align: center;
      }
    }
  }
  .synced-carousel {
    padding-top: 50px;
    padding-bottom: 100px;
    .container {
      text-align: center;
      max-width: 100%;
    }

    .content-wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 840px !important;
      height: 413px !important;
      position: relative;

      .two-column {
        display: flex;
      }
      .artist-box {
        position: relative;
        padding: 30px 40px;
        text-align: left;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: calc(100% - 15px);
        background-color: $purple;
        color: $white;
      }
      .offset-box {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $gray;
        width: calc(100% - 20px);
        height: calc(100% - 15px);
        z-index: -1;
      }
      .two-buttons {
        margin-top: 30px;
        flex: 0.5;
        text-align: center;
        display: flex;
        flex-direction: column;

        .btn {
          border: 2px solid $white;
          padding: 20px;
          margin-bottom: 20px;
        }
      }
      .artist-profile {
        flex: 0.5;
        #artist-name {
          margin-top: 20px;
          color: $pink-red;
        }
        img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
          margin-top: 20px;
        }
      }
      .product-btn {
        background-color: $dark-red;
        padding: 20px 105px;
        position: relative;
      }
    }
    .img-wrapper {
      height: 358px;
      width: 224px;
      img {
        width: 100%;
      }
    }
    .slider-nav {
      padding-top: 50px;
    }
    .product-card {
      position: relative;
      height: 358px !important;
      width: 224px !important;
    }

    //Arrow Styles
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      width: 75px;
      height: 75px;
      background-color: $dark-red;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 100;
      border: none;
    }
    .slick-prev.slick-arrow::after {
      content: url("./images/side-arrow.svg");
    }

    //Didn't make the same as the other offset boxes due to slick slider html so i added box shadow
    .slick-prev.slick-arrow {
      left: 0;
      top: 30px;
      -webkit-box-shadow: 5px 5px 0px 0px $gray;
      box-shadow: 5px 5px 0px 0px $gray;
    }
    .slick-next.slick-arrow {
      right: 0;
      top: 30px;
      -webkit-box-shadow: 5px 5px 0px 0px $gray;
      box-shadow: -5px 5px 0px 0px $gray;
    }
    .slick-next.slick-arrow::after {
      content: url("./images/side-arrow.svg");
      transform: rotate(180deg);
    }
  }
  .individual-artist {
    padding-bottom: 100px;
    .container {
      display: flex;
      justify-content: space-between;
    }
    .content-wrapper {
      height: 680px;
      width: 485px;
      position: relative;

      img {
        width: calc(100% - 20px);
        height: calc(100% - 15px);
        position: relative;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .offset-box {
        width: calc(100% - 20px);
        height: calc(100% - 15px);
        background-color: $pink-red;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        @extend %shadow;
      }
    }
    .text-wrapper {
      width: 50%;
      .socials-row {
        display: flex;
        width: 50%;
        justify-content: space-between;
        padding-bottom: 40px;
      }
      p {
        padding-bottom: 10px;
      }
      .buttons-row {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        #artist-product {
          background-color: $dark-red;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: #ffffff;
          height: 75px;
          width: 320px;
          text-decoration: none;
        }
      }
      .content-wrapper {
        position: relative;
        width: 326px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: black;
        .border {
          position: absolute;
          border: 1px solid $purple;
          width: calc(100% - 5px);
          height: calc(100% - 5px);
          bottom: 0;
          left: 0;
          color: black;
        }
        .offset-border {
          position: absolute;
          border: 1px solid $pink-red;
          width: calc(100% - 5px);
          height: calc(100% - 5px);
          top: 0;
          right: 0;
        }
      }
    }
  }
  .founders {
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
      text-align: center;
    }
    .founders-wrapper {
      margin: 40px 100px;
      display: flex;
      justify-content: space-between;

      .content-wrapper {
        height: 685px;
        width: 485px;
        position: relative;

        .img-wrapper {
          width: 485px;
        }
        img {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          position: relative;
          object-fit: cover;
          top: 0;
          right: -10px;
          z-index: 1;
        }
        .founder-2 {
          top: 0;
          left: -10px;
        }

        .offset-box-left {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          background-color: $pink-red;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 0;
          @extend %shadow;
        }
        .offset-box-right {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          background-color: $pink-red;
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 0;
          @extend %shadow;
        }
      }
    }
  }
  //Hanging Carousel Section
  .hanging-carousel {
    padding-top: 50px;
    padding-bottom: 100px;
    .container {
      text-align: center;
      max-width: 100%;
    }
    .img-wrapper {
      height: 358px;
      width: 224px;
      img {
        width: 100%;
      }
    }
    .slider {
      padding-top: 20px;
    }
    .product-card {
      position: relative;
      height: 358px !important;
      width: 224px !important;
    }
    .name-ribbon {
      background-color: $dark-red;
      opacity: 0.7;
      color: $white;
      position: absolute;
      text-align: center;
      width: 286px;
      padding: 17px 22px;
      top: 30%;
      left: -30px;
      font-size: 25px;
      @extend %shadow;
    }
    .artist-avatar {
      position: absolute;
      height: 90px;
      width: 90px;
      border-radius: 50%;
      left: -30px;
      bottom: 20%;
    }

    //Arrow Styles
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      width: 75px;
      height: 75px;
      background-color: $dark-red;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 100;
      border: none;
    }
    .slick-prev.slick-arrow::after {
      content: url("./images/side-arrow.svg");
    }

    //Didn't make the same as the other offset boxes due to slick slider html so i added box shadow
    .slick-prev.slick-arrow {
      left: 0;
      top: 30px;
      -webkit-box-shadow: 5px 5px 0px 0px $gray;
      box-shadow: 5px 5px 0px 0px $gray;
    }
    .slick-next.slick-arrow {
      right: 0;
      top: 30px;
      -webkit-box-shadow: 5px 5px 0px 0px $gray;
      box-shadow: -5px 5px 0px 0px $gray;
    }
    .slick-next.slick-arrow::after {
      content: url("./images/side-arrow.svg");
      transform: rotate(180deg);
    }
  }

  //Featured Artist
  .slanted-background {
    padding-bottom: 200px;
    padding-top: 100px;
    position: relative;

    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      color: $white;
    }
    .purple-slant {
      position: absolute;
      width: 120%;
      height: 600px;
      top: 170px;
      background-color: $purple;
      transform: rotate(-16.8deg);
      z-index: -1;
    }
    .text-wrapper {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 400px;
    }
    .btn {
      margin-top: 30px;
      border: 1px solid $white;
      padding: 20px 118px;
    }
    .headline {
      background-color: $dark-red;
      color: $white;
      padding: 30px;
      position: absolute;
      left: -40px;
      top: 100px;
    }
    .content-wrapper {
      height: 685px;
      width: 485px;
      position: relative;

      .img-wrapper {
        width: 485px;
      }
      img {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        position: relative;
        object-fit: cover;
        top: 0;
        right: -10px;
        z-index: 1;
      }
      .founder-2 {
        top: 0;
        left: -10px;
      }

      .offset-box-right {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-color: $pink-red;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        @extend %shadow;
      }
    }
  }
  footer {
    background-color: #121212;
    color: $white;
    padding: 50px 0;

    ul {
      list-style: none;

      li {
        padding: 5px;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-bottom: 100px;

      @include breakpoint(lg) {
        flex-direction: column;
      }

      .terms-policy {
        position: absolute;
        left: 0;
        bottom: 0;
        a {
          font-size: 0.875rem;
        }
      }
      .socials {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        align-items: center;
        width: 30%;
      }
      #email {
        text-decoration: underline;
      }
    }

    .content-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      right: 0;
      bottom: 40px;

      .offset-box {
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: $white;
        @extend %shadow;
      }
      .purple-box {
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        background-color: $purple;
        position: relative;
        top: 2.5px;
        left: 2.5px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
